@model IEnumerable<NN_Inmuebles.Models.Alquiler>

@{
    ViewData["Title"] = "Alquileres";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteID)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
