@model NN_Inmuebles.Models.Casa



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Casa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDueño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDueño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alquilada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alquilada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CasaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
